body {
    background-color: #292929;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0; 
    color: #fff;
}

.seat {
    background-color: #444451;
    height: 18px;
    width: 18px;
    margin: 3px;
    border-radius: 5px;
    transition: all ease 300ms;
}

.seat.selected {
    background-color: #faeb47;
}

.seat.reserved {
    background-color: #fff;
}

.seat:not(.reserved):hover {
    cursor: pointer;
    transform: scale(1.3);
}

.seat:nth-of-type(2) {
    margin-right: 24px;
}

.seat:nth-last-of-type(3) {
    margin-right: 24px;
}

.row {
    display: flex;
}

.screen {
    height: 100px;
    width: 100%;
    margin: 24px 0;
    box-shadow: 0 2px 20px rgba(255, 255, 255, 0.7);
    border-radius: 8px;
}
.screen img {
    border-radius: 8px;
}

.movie-list {
    margin: 20px 0;
}

.info {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    color: #777;
    display: flex;
    list-style: none;

}

.info li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

p.text span {
    color: #faeb47;
}